// atomic, elemental, and molecular-level UI


// vertical center
.vert-center {
  position: relative;
  transform: translateY(50%);
}

// tables

.table-striped > thead {
  background-color: $table-bg-thead;
  text-transform: uppercase;
}

.table > tbody > tr > td, .table > thead > tr > th, .table-responsive {
  border: none;
}

.table__title {
  padding: 10px 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: $brand-primary;
  color: $table-title;
}

/* header */

.header {
    margin: 0 auto;
    width: 98%;
}

.header-menu {
    float: right;
}

.header-menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-menu-list .header-menu-item {
    display: inline;
    float: left;
}
.header-menu-list .header-menu-item > a {
    display: block;
    padding: 10px;
    color: $text-color;
}

.header-menu-list .dropdown-menu a {
    color: $brand-secondary;
    margin-left: 5px;
    font-weight: 400;
}

.header-menu-list .dropdown-menu:before {
    content: '';
    display: block;
    border-top: 5px solid $brand-secondary;
    position: absolute;
    width: 100%;
    top: 0;
}

.header-dropdown {
    background: $brand-3rd;
    margin-top: -10px;
    margin-left: 10px;
}

.header-dropdown > li > a {
    padding: 5px 10px;
}


.header-dropdown li a:hover {
    color: darken($brand-secondary, 15%);
    background-color: $brand-3rd;
}

.header-dropdown li a:focus {
    color: darken($brand-secondary, 15%);
}

.header-dropdown li {
    margin-left: 5px;
}

.header-dropdown li:first-child {
 margin-top: 10px;
}

.header-menu-sep{
    height: 1px;
    overflow: hidden;
    background-color: darken(#e5e5e5, 20%);
    width: 90%;
}

// main navigation

.main-nav {
  border-bottom: 3px solid $brand-primary;
}

.multi-column {
  border-top: none;
}

.multi-column .container {
  list-style: none;
}

.dropdown-menu li a {
    padding: 5px;
    font-weight: 300;
}

.multi-column-dropdown {
    list-style: none;
    /*padding-left: 10px;*/
    padding: 5px;
}

.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: $brand-secondary;
    // white-space: normal;
    font-weight: 400;
    padding-top: 5px;
}

.multi-column-dropdown li a:hover {
    // text-decoration: none;
    color: darken($brand-secondary, 15%);
}

.multi-column-dropdown-header{
    display: block;
    line-height: 1.42857;
    color: #777;
    white-space: nowrap;
    padding: 5px;
}

.columns-3 > .container > .col-xs-4 {
    width: auto;
}

.navbar-default .navbar-nav-custom > .active > a,
.navbar-default .navbar-nav-custom > .active > a:hover,
.navbar-default .navbar-nav-custom > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.nav-list-none {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: -30px;
}

.navbar-nav-custom > li > .dropdown-menu {
    margin-top: 3px;
    padding: 10px;
}

.triangle-container{
    position: absolute;
    margin-top: 3px;
    z-index: 100000;
    width: 100%;
    display: none;
}

.open .triangle-container{
    display: block;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid;
    color: $brand-primary;
    margin: 0 auto;
}

.columns-3 {
    max-width: 600px;
}

// Page header
// -------------------------

.page-header {
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * 2) 0 $line-height-computed;
  border-bottom: none;
}


// CRM Table Controls


.nav-tabs.custom-tab {
            border-bottom: 4px solid $brand-3rd;
        }

.nav-tabs.custom-tab > li {
border-bottom: 4px solid $brand-3rd;
margin-bottom: -4px;
}

.nav-tabs.custom-tab > li a {
    border: 0px;
    color: $text-color;
}

.nav-tabs.custom-tab > li a:hover {
    color: $brand-primary;
    background-color: white;
    border: 0px;
}

.nav-tabs.custom-tab > li:hover, .nav-tabs.custom-tab > li.active {
    border-bottom: 4px solid $brand-primary;
}

.nav-tabs.custom-tab > li.active > a, .nav-tabs.custom-tab > li.active > a:hover, .nav-tabs.custom-tab > li.active > a:focus {
    color: $brand-primary;
    background-color: white;
    border: 0px;
    border-bottom-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

.btn-group-view {
  border: solid 1px $brand-secondary;
  border-radius: 4px;
}

.btn-view, .btn-view:hover {
    background: $brand-secondary;
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

.btn-view.active, .btn-view.active  {
    background: #fff;
    color: $brand-secondary;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.quick-search {
    width: 300px;
    border-radius: 4px;
    border: solid 1px $brand-secondary;
}

.quick-search .form-control {
    position: relative;
}

.quick-search input {
    border: none;
    width: 70%;
    color: $text-color;
}

.quick-search select {
    border: none;
    position: absolute;
    right: 0px;
    width: 30%;
    background: #fff;
    color: $text-color;
}

.quick-search .form-control {
  border: none;
}

.quick-search .input-group-addon {
  background: $brand-primary;
  color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

.crm-controls .dropdown-toggle {
  border-color: $brand-secondary;
  color: $text-color;
}



// CRM Table (Kendo)
.k-grid,
.k-grid * {
    border: 0;
    border-color: #fff;
}

div.k-grid-content {
    overflow-y: hidden;
    height: auto;
}

.k-grid-header {
    padding: 0px;
     padding-right:0px !important;
}

.k-grid-header .k-header {
    background: $brand-4th;
    font-weight: bold;
    text-transform: uppercase;
}

.k-grid-header .th.k-header a {
    display: none;
}

.k-grid-header .k-link:link, .k-grid-header .k-link:visited, .k-grid-header .k-nav-current.k-state-hover .k-link, .k-grouping-header .k-link {
    color: $table-text-thead;
    font-size: 14px;
}

.k-grid-header th.k-header>.k-link {
    padding: .8em .6em;
}

.k-grid-header .k-header .k-icon.k-filter:before {
    content: "\f000";
}

.k-grid-header .k-header .k-icon.k-i-arrow-n,
.k-grid-header .k-header .k-icon.k-i-arrow-s {
    float: right;
}

// .k-grid-pager {
//     border: 0;
// }

.k-grid-content tr td {
    font-size: 13px;
    text-align: left;
    border-color: #fff;
}

.k-alt {
    background: $table-bg-accent;
}

.k-grid-content tr td [data-icon]::before {
    color: $brand-secondary;
    &:hover, &:focus {
        color: darken($brand-secondary, 15%);
        text-decoration: none;
    }
}

.k-grid-content tr td a:hover {
    text-decoration: none;
}


.k-grid-content tr td a.link {
    font-weight: bold;
    text-decoration: underline;
}

.k-block, .k-widget, .k-popup, .k-content, .k-toolbar, .k-dropdown .k-input {
    color: $text-color;
}

.k-state-selected {
    background: $brand-link-color;
}

.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
    color: $brand-link-color;
}

.k-pager-wrap {
    padding-top: 1em;
    background: #fff;
}











