// Fonts and Icons

// Icomoon

@font-face {
  font-family: 'icomoon';
  src:url('../bower_components/icomoon/icomoon.eot?2emed1');
  src:url('../bower_components/icomoon/icomoon.eot?2emed1#iefix') format('embedded-opentype'),
    url('../bower_components/icomoon/icomoon.ttf?2emed1') format('truetype'),
    url('../bower_components/icomoon/icomoon.woff?2emed1') format('woff'),
    url('../bower_components/icomoon/icomoon.svg?2emed1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-icon_arrowUp:before {
  content: "\e800";
}
.icon-icon_arrrowDwn:before {
  content: "\e801";
}
.icon-icon_refresh:before {
  content: "\e802";
}
.icon-Icon_list:before {
  content: "\e803";
}
.icon-icon_grid:before {
  content: "\e804";
}
.icon-apt:before {
  content: "\e805";
}
.icon-collapse:before {
  content: "\e806";
}
.icon-credit:before {
  content: "\e807";
}
.icon-email:before {
  content: "\e808";
}
.icon-expand:before {
  content: "\e809";
}
.icon-history:before {
  content: "\e80a";
}
.icon-LOS:before {
  content: "\e80b";
}
.icon-notes:before {
  content: "\e80c";
}
.icon-print:before {
  content: "\e80d";
}
.icon-sales:before {
  content: "\e80e";
}
.icon-task:before {
  content: "\e80f";
}
.icon-cross:before {
  content: "\e810";
}
.icon-info:before {
  content: "\e811";
}
.icon-help:before {
  content: "\e812";
}
.icon-pencil:before {
  content: "\e813";
}
.icon-copy:before {
  content: "\e814";
}
.icon-users:before {
  content: "\e815";
}
.icon-search:before {
  content: "\e986";
}

[data-icon]::before {
  font-family: 'icomoon';
  content: attr(data-icon);
  margin-right: 5%;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
