// variables that are not a part of Bootstrap and never were.

// colors
$brand-secondary: #5F666E;
$brand-3rd: #EEEFEF;
$brand-4th: #ADAEAE;


$table-text-thead: #fff;
$table-bg-thead: #fff;
$table-title: #fff;

// dashboard color palettes
$dashboard-color-a: #fff;

